html {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

img {
  width: 100%;
}

body {
  margin: 0;
  background-color: #d7dfeb;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  background-color: #091E3F;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: row;
}
@media (max-width: 665px) {
  header nav {
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    box-sizing: border-box;
    flex-direction: row;
  }
}
@media (max-width: 1156px) {
  header nav {
    gap: 0.5rem;
    padding: 1rem;
  }
}
header img {
  width: 7rem;
  padding: 2rem;
}
header li {
  list-style: none;
  font-weight: 700;
}
@media (max-width: 1156px) {
  header li {
    font-weight: 600;
    font-size: 0.8rem;
  }
}
@media (max-width: 665px) {
  header li {
    display: none;
  }
}
header li a {
  text-decoration: none;
  color: #F0A956;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: row;
  padding: 0;
  gap: 3rem;
}
header .menuIcon {
  display: none;
}
@media (max-width: 665px) {
  header .menuIcon {
    display: block;
    width: 2rem;
    color: #F0A956;
  }
}

main .mainBanner {
  padding-top: 6rem;
  margin: 0;
  height: 100%;
}
@media (max-width: 1156px) {
  main .mainBanner {
    padding-top: 8rem;
  }
}
main .mainTitle {
  background-color: #05142e;
  margin: 0;
}
main .mainTitle__text {
  color: #ebebeb;
}
@media (max-width: 1156px) {
  main .mainTitle__text {
    font-size: 0.7rem;
    padding: 0 1rem;
  }
}
main .mainTitle__container {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  flex-direction: row;
}
main .mainTitle__container .imageContainer {
  padding: 0;
  height: auto;
}
main .mainTitle__container .imageContainer__item {
  width: 15rem;
  height: 100%;
}
main .mainContent {
  padding: 0.5rem;
  margin-bottom: 8rem;
}
main .mainContent .mainItemsContainer {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: row;
  gap: 2rem;
}
@media (max-width: 860px) {
  main .mainContent .mainItemsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
  }
}
main .mainContent .mainItemsContainer .mainItem {
  width: 15%;
}
@media (max-width: 1156px) {
  main .mainContent .mainItemsContainer .mainItem {
    width: 30%;
  }
}
@media (max-width: 860px) {
  main .mainContent .mainItemsContainer .mainItem {
    width: 40%;
  }
}
@media (max-width: 665px) {
  main .mainContent .mainItemsContainer .mainItem {
    width: 80%;
  }
}
main .mainContent .mainItemsContainer .mainItem__title {
  background-color: #F0A956;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
main .mainContent .mainItemsContainer .mainItem__title p {
  margin: 0;
  padding: 1.5rem 0;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
  font-size: 1.1rem;
}
@media (max-width: 1156px) {
  main .mainContent .mainItemsContainer .mainItem__title p {
    font-size: 1rem;
  }
}
main .mainContent .mainItemsContainer .mainItem__info {
  background-color: #ffffff;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
main .mainContent .mainItemsContainer .mainItem__info p {
  margin: 0;
  padding: 4rem 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}
main .mainContent .homeInfo {
  background-image: linear-gradient(to right, rgb(235, 235, 235), rgb(235, 235, 235), rgb(235, 235, 235), rgb(192, 194, 250));
  padding: 0;
  margin: 1rem;
  border-radius: 0.5rem;
}
main .mainContent .homeInfo__title {
  color: #091E3F;
  font-weight: 600;
}
main .mainContent .homeInfo__flexContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: row;
  gap: 1rem;
}
main .mainContent .homeInfo__flexContainer img {
  width: 300px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
@media (max-width: 665px) {
  main .mainContent .homeInfo__flexContainer img {
    display: none;
  }
}
main .mainContent .homeInfo__textContainer {
  padding: 1.5rem;
}
main .mainContent .homeInfo__textContainer h3 {
  font-weight: 730;
}
main .mainContent .homeInfo__textContainer p {
  font-size: 1.2rem;
}
@media (max-width: 860px) {
  main .mainContent .homeInfo__textContainer p {
    font-size: 0.85rem;
  }
  main .mainContent .homeInfo__textContainer h3 {
    font-size: 1.1rem;
    font-weight: 500;
  }
}
main .mainContent .guideTable {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: row;
  padding: 3rem;
}
main .mainContent .guideTable table {
  border-collapse: collapse;
  text-align: center;
}
main .mainContent .guideTable td {
  padding: 1rem;
}
@media (max-width: 860px) {
  main .mainContent .guideTable td {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}
@media (max-width: 665px) {
  main .mainContent .guideTable td {
    font-size: 0.7rem;
    padding: 0.3rem;
  }
}
main .mainContent .guideTable th {
  background-color: #091E3F;
  color: #ffffff;
  padding: 1rem;
  border: 1px solid #35659c;
}
@media (max-width: 860px) {
  main .mainContent .guideTable th {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}
@media (max-width: 665px) {
  main .mainContent .guideTable th {
    font-size: 0.7rem;
    padding: 0.3rem;
  }
}
main .mainContent .guideTable tr:nth-child(odd) {
  background-color: #fcefd2;
}
main .mainContent .guideTable tr:nth-child(even) {
  background-color: #fcf5e8;
}
main .mainContent .guideTable button {
  border: none;
  background-color: #5D66E8;
  color: #ffffff;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
@media (max-width: 665px) {
  main .mainContent .guideTable button {
    font-size: 0.7rem;
  }
}
@media (max-width: 665px) {
  main .mainContent .guideTable .selectEstado {
    font-size: 0.5rem;
    width: 90%;
  }
}
main .mainContent .createGuide__form {
  background-color: #c3d3eb;
  border-radius: 0.3rem;
}
main .mainContent .createGuide__formBody {
  border: none;
}
main .mainContent .createGuide__formBody .formBody__title {
  font-weight: 700;
  color: #091E3F;
  padding: 1rem;
}
main .mainContent .createGuide__formBody .formBody__inputContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-direction: column;
}
main .mainContent .createGuide__formBody .formBody__inputLabel {
  font-weight: 500;
  padding: 1rem 0.8rem;
}
main .mainContent .createGuide__formBody .formBody__inputUser {
  padding: 1rem;
  width: 80%;
  border: transparent;
  border-radius: 0.5rem;
}
main .mainContent .createGuide__formBody .formBody__select {
  width: 81.8%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
main .mainContent .createGuide__formBody .formBody__submitButton {
  width: 30%;
  margin: 2rem 0rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #3729fd;
  color: #ffffff;
  font-size: 1.3rem;
  cursor: pointer;
}
main .mainContent .searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  gap: 3rem;
}
@media (max-width: 1156px) {
  main .mainContent .searchContainer {
    padding-bottom: 10rem;
  }
}
main .mainContent .searchContainer .searchInput {
  background-color: white;
  background-image: url("../img/search.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  border: none;
  width: 95%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2.5rem;
  margin-bottom: 10rem;
}
@media (max-width: 860px) {
  main .mainContent .searchContainer .searchInput {
    width: 80%;
  }
}
main .mainContent .guideHistoryContainer {
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 0.5rem;
}
main .mainContent .guideHistoryContainer h2 {
  color: #091E3F;
  font-weight: 600;
}
main .mainContent .guideHistoryContainer .guideTracker {
  color: #5D66E8;
  font-weight: 700;
}
main .mainContent .guideHistoryContainer .guideETA {
  color: #F0A956;
  font-weight: 700;
}

footer {
  background-color: #6AC6DE;
  padding: 3rem 1.7rem 5rem 1.7rem;
  margin: 0;
  color: #091E3F;
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  box-sizing: border-box;
  flex-direction: row;
}
@media (max-width: 665px) {
  footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 1156px) {
  footer {
    font-size: 0.8rem;
  }
}
footer .socialNetworks {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  gap: 1rem;
}
footer .contactUs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  gap: 1rem;
}
footer a {
  text-decoration: none;
  color: #091E3F;
}/*# sourceMappingURL=main.css.map */