@import "mixins.scss";
@import "variables.scss";


html{
    font-family: $mainFont;
    height: 100%;
}

img{
    width: 100%;
}

body{
    margin: 0;
    background-color: $bgColor;
    padding: 0;
}

header{
    position: fixed;
    width: 100%;
    background-color: $hhNightBlue;
    nav{
        @include setflex;
        @include respontTo(tablet){
            @include setflex(space-around, space-around, row);
        }
        @include respontTo(laptop){
            gap: .5rem;
            padding: 1rem;
        };
    }
    img{
        width: 7rem;
        padding: 2rem;
    }
    li{
        @include respontTo(laptop){
            font-weight: 600;
            font-size: .8rem;
        };
        @include respontTo(tablet){
            display: none;
        }
        list-style: none;
        font-weight: 700;
        a{
            text-decoration: none;
            color: $hhPeach;
        }
    }
    ul{
        @include setflex;
        padding: 0;
        gap: 3rem;
    }
    .menuIcon{
        cursor: pointer;
        img{
            width: 2rem;
        }
        display: none;
        @include respontTo(tablet){
            display: block;
            color: $hhPeach;
        };
    }
}

main{
    .mobileMenu {
        left: -100%;
        transition: left 0.3s ease-in-out;

        &.menu-open {
          left: 0;
        }
      }
    .despegableMenu--hidden{
        left: -100%;
    }
    .despegableMenu--active{
        position: fixed;
        top: 0;
        left: -100%;
        width: 90%;
        height: 100%;
        background-color: #05142e;
        z-index: 1;
        .closeIcon{
            width: 3rem;
            cursor: pointer;
        }
        .titleContainer{
            @include setflex(center, space-between, row);
            padding: 2rem;
            gap: 1rem;
            h2{
                color: #FFFFFF;
                font-weight: 600;
            }
        }
        li{
            @include setflex(flex-start, flex-start, column);
            gap: 3rem;
            list-style: none;
            font-weight: 700;
            a{
                text-decoration: none;
                color: $hhPeach;
                font-size: 1.2rem;
                padding: .9rem 0;
            }
            };
    }

    .mainBanner{ //Banner principal de la pagina
        padding-top: 6rem;
        margin: 0;
        height: 100%;
        @include respontTo(laptop){
            padding-top: 8rem;
        };
    }
    .mainTitle{ //Titulo principal de la pagina
        background-color: #05142e;
        margin: 0;
        &__text{
            color: #ebebeb;
            @include respontTo(laptop){
                font-size: .7rem;
                padding: 0 1rem;
            };
        }
        &__container{
            padding: 0;
            @include setflex(center, space-around, row);
            .imageContainer{
                padding: 0;
                height: auto;
                &__item{
                    width: 15rem;
                    height: 100%;
                }

            }
        }
    }
    .mainContent{ //Contenedor principal de la pagina
        padding: .5rem;
        margin-bottom: 8rem;
        .mainItemsContainer{ //Contenedor de los items de la sección de Estado general
            padding: 4rem 0;
            @include setflex(center, center, row);
            @include respontTo(Bigtablet){
                @include setflex(center, center, column);
            };
            gap: 2rem;
            .mainItem{
                width: 15%;
                @include respontTo(laptop){
                    width: 30%;
                };
                @include respontTo(Bigtablet){
                    width: 40%;
                };
                @include respontTo(tablet){
                    width: 80%;
                };
                &__title{
                    background-color: $hhPeach;
                    border-top-left-radius: 1rem;
                    border-top-right-radius: 1rem;
                    p{
                        margin: 0;
                        padding: 1.5rem 0;
                        text-align: center;
                        font-weight: 800;
                        color: #ffffff;
                        font-size: 1.1rem;
                        @include respontTo(laptop){
                            font-size: 1rem;
                        };
                    }
                }
                &__info{
                    background-color: #ffffff;
                    border-bottom-left-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                    p{
                        margin: 0;
                        padding: 4rem 0;
                        text-align: center;
                        font-size: 2.5rem;
                        font-weight: 800;
                    }
                }
            }
        }
        .homeInfo{ //Seccion de informacion sobre nosotros
            background-image: linear-gradient(to right, rgb(235, 235, 235),rgb(235, 235, 235),rgb(235, 235, 235), rgb(192, 194, 250));
            padding: 0;
            margin: 1rem;
            border-radius: .5rem;
            &__title{
                color: $hhNightBlue;
                font-weight: 600;
            }
            &__flexContainer{
                @include setflex(flex-start, center, row);
                gap: 1rem;
                img{
                    width: 300px;
                    border-top-right-radius: .5rem;
                    border-bottom-right-radius: .5rem;
                    @include respontTo(tablet){
                        display: none;
                    };
                }
            }
            &__textContainer{
                padding: 1.5rem;
                h3{
                    font-weight: 730;
                }
                p{
                    font-size: 1.2rem;
                }
                @include respontTo(Bigtablet){
                    p{
                        font-size: .85rem;
                    }
                    h3{
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
                }
            }
        }
        .guideTable{ //Seccion de tabla de guias
            @include setflex;
            padding: 3rem;
            table{
                border-collapse: collapse;
                text-align: center;  
            }
            td{
                padding: 1rem;
                @include respontTo(Bigtablet){
                    font-size: .8rem;
                    padding: .5rem;
                };
                @include respontTo(tablet){
                    font-size: .7rem;
                    padding: .3rem;
                };
            }
            th{
                background-color: $hhNightBlue;
                color: #ffffff;
                padding: 1rem;
                border: 1px solid #35659c;
                @include respontTo(Bigtablet){
                    font-size: .8rem;
                    padding: .5rem;
                };
                @include respontTo(tablet){
                    font-size: .7rem;
                    padding: .3rem;
                };
            }
            tr:nth-child(odd) {
                background-color: #fcefd2;
            }
            tr:nth-child(even) {
                background-color: #fcf5e8;
            }
            button{
                border: none;
                background-color: $hhMidBlue;
                color: #ffffff;
                padding: .3rem;
                border-radius: .3rem;
                @include respontTo(tablet){
                    font-size: .7rem;
                };
            }
            .selectEstado{
                @include respontTo(tablet){
                    font-size: .5rem;
                    width: 90%;
                };
            }
        }
        .createGuide{ //Seccion de Forumulario de creacion de guia
            &__form{
                background-color: #c3d3eb;
                border-radius: .3rem;
            }
            &__formBody{
                border: none;
                .formBody{
                    &__title{
                        font-weight: 700;
                        color: $hhNightBlue;
                        padding: 1rem;
                    }
                    &__inputContainer{
                        @include setflex(flex-start, flex-start, column);
                    }
                    &__inputLabel{
                        font-weight: 500;
                        padding: 1rem .8rem;
                    }
                    &__inputUser{
                        padding: 1rem;
                        width: 80%;
                        border: transparent;
                        border-radius: .5rem;
                    }
                    &__select{
                        width: 81.8%;
                        padding: 16px 20px;
                        border: none;
                        border-radius: 4px;
                        background-color: #f1f1f1;
                    }
                    &__submitButton{
                        width: 30%;
                        margin: 2rem 0rem;
                        padding: 1rem;
                        border: none;
                        border-radius: .5rem;
                        background-color: #3729fd;
                        color: #ffffff;
                        font-size: 1.3rem;
                        cursor: pointer;
                    }
                }
            }
        }
        .searchContainer{
            @include setflex(center, center, column);
            @include respontTo(laptop){
                padding-bottom: 10rem;
            };
            gap: 3rem;
            .searchInput{
                background-color: white;
                background-image: url('../img/search.svg');
                background-position: 10px 10px;
                background-repeat: no-repeat;
                padding-left: 40px;
                border: none;
                width: 95%;
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-radius: 2.5rem;
                margin-bottom: 10rem;
                @include respontTo(Bigtablet){
                    width: 80%;
                };
            }
        }
        .guideHistoryContainer{
            background-color: #ffffff;
            padding: 3rem;
            border-radius: .5rem;
            h2{
                color: $hhNightBlue;
                font-weight: 600;
            }
            .guideTracker{
                color: $hhMidBlue;
                font-weight: 700;
            }
            .guideETA{
                color: $hhPeach;
                font-weight: 700;
            }
        }
    }
}

footer{
    background-color: $hhLightBlue;
    padding: 3rem 1.7rem 5rem 1.7rem;
    margin: 0;
    color: $hhNightBlue;
    font-weight: 600;
    @include setflex(flex-start, space-around, row);
    @include respontTo(tablet){
        @include setflex(flex-start, center, column);
        gap: 2rem;
    }
    @include respontTo(laptop){
        font-size: .8rem;
    }
    .socialNetworks{
        @include setflex(flex-start, center, column);
        gap: 1rem;
    }
    .contactUs{
        @include setflex(flex-start, center, column);
        gap: 1rem;
    }
    a{
        text-decoration: none;
        color: $hhNightBlue;
    }
}